
<h1>Otros juegos</h1>

<div class="row row-cols-1 row-cols-md-3 g-5" style="margin: 0 40px;">
    <div class="col">
      <div class="card h-100 tarjetas">
        <img src="../../../assets/images/volvo-cars/volvo-cx40/cx40-1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Volvo cx40</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 tarjetas">
        <img src="../../../assets/images/volvo-cars/volvo-cx90/cx90-1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Volvo cx90 </h5>
          
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100 tarjetas">
          <img src="../../../assets/images/volvo-cars/volvo-s60/s60-1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volvo s60</h5>
            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 tarjetas">
          <img src="../../../assets/images/volvo-trucks/fh/fh3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volvo fh13 500</h5>
            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 tarjetas">
          <img src="../../../assets/images/volvo-trucks/fm/fm1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volvo fm13 500</h5>
            
          </div>
        </div>
      </div>

    <div class="col">
      <div class="card h-100 tarjetas">
        <img src="../../../assets/images/volvo-trucks/fmx/fmx3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Volvo fmx13 750</h5>
          
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100 tarjetas">
          <img src="../../../assets/images/volvo-const/exca/exca2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volvo Excabadora 320 eL</h5>
            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 tarjetas">
          <img src="../../../assets/images/volvo-const/pala/pala1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volvo L150 BM</h5>
          
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 tarjetas">
          <img src="../../../assets/images/volvo-const/vibro/vi2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volo  Sd200</h5>
            
          </div>
        </div>
      </div>



  </div>