
<div class="card mb-3" style="max-width: 100%; background-color: rgba(0, 0, 0, 0.9);">
    <div class="row g-0">
      <div class="col-md-5">
        <img  class="ima" src="https://w0.peakpx.com/wallpaper/897/118/HD-wallpaper-volvo-logo-black-and-white-car-cars-legacy-love-cars-quality-sweden-vehicle-volvo-cars.jpg" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h3 style="color: white;">VOLVO</h3>
          <br>`
          <p>Volvo es una empresa fabricante de vehículos industriales, incluyendo camiones, autobuses y equipamiento de construcción. Fue fundada en 1927 con sede en Gotemburgo, Suecia, por el ingeniero Gustav Larson y el economista Assar Gabrielsson.</p>
          <p>Fabricó autos hasta 1999, cuando vendió su filial Volvo Car Corporation a Ford Motor Company. Esta empresa, a su vez, la vendió en 2010 a Geely Automobile, de China​</p>
          <p>En latín, Volvo significa "yo ruedo". El emblema de la marca, el círculo y la flecha, es el símbolo del acero de los antiguos alquimistas y no representa el símbolo de lo masculino como muchos creen erróneamente.</p>
          <p>En los camiones destacan los actuales Volvo FH, FM, FMX, FL, FE, FH16 dejando relegados a los antiguos FH12, FM12, FL6, FL7, FL10, FM, TD6, TD10. En autocares y autobuses Volvo B12B, B9R, y B7R dejando relegados los B12, y B10. En la actualidad el motor del Volvo FH es un 13 litros con potencias de 420 a 540 CV.</p>
          <p>La marca Volvo fue registrada por SKF el 11 de mayo de 1915 para utilizarlo para una serie especial de rodamientos para el mercado estadounidense, pero nunca fue utilizado hasta la fundación de la fábrica de automóviles. La dueña actual de los derechos de la marca es la empresa Volvo Trademark Holding AB. Esta compañía está integrada en partes iguales por Volvo Cars y AB Volvo.</p>
          
            
          </div>
      </div>
    </div>
  </div>

  <div >

    <h1 class="volvo-subtitle"><b>Electric cars with a backup plan</b> </h1>
    <div style="text-align: center;">
        
        <table  cellpadding="0" cellspacing="0" width="100%" style="text-align: center; margin:0 auto">
        <tr>
        <td><img src="../../../assets/images/carn1.jpeg" width="200px" height="300px" alt=""></td>
        <td><img src="../../../assets/images/carn2.jpeg" width="200px" height="350px" alt=""></td>
        <td><img src="../../../assets/images/carn3.jpeg" width="200px" height="300px" alt=""></td>
        </tr>
        </table>
        
        </div>
</div>

