.tam{
    height: 250px;
    background-image: url(../../../assets/images/backVolvo.jpeg);
    margin-top: -20px;
    background-size: 100% 330px;
    background-repeat: no-repeat;

}

button{
    margin: 0 3px;
    /*border: 2px solid rgb(36, 202, 36);*/
    border-radius: 10px;
    color: white;
}